@charset "UTF-8";

/*Principal*/
body { background-color:#F2F2F2; font-family:Calibri; }

div, input, p { border-radius:20px; }

div { 
    background-color:orange; 
    padding:9px;
    display:block; 
    margin:auto; 
    width:350px; 
}

section { padding:6px; background-color:green; }


/*Conteúdo*/
h1 { text-align:center; }

input, p { height:60px; width:80px; margin-left:10px; font-size:23px; }

#diminuir { font-size:20px; }

span { font-size:35px; }

p { 
    background-color:black; 
    color:#F2F2F2; 
    line-height:55px;
    text-align:center;  
}
