@charset 'UTF-8';

body { background-color:#378B2E; font-family:Calibri; }


/* Cabeçalho */
header, footer { text-align:center; color:#F2F2F2; }

h1 { font-size:35px; }

span { font-size:25px; display:block; margin-top:-15px; margin-bottom:22px; }


/* Conteúdo */
section {
    background-color:#F2F2F2;
    border-radius:20px;
    box-shadow:1px 1px 3px rgba(0,0,0,.7);
    padding:9px; 
    width:350px;
    display:block; 
    margin:auto;  
    text-align:Center;
}

fieldset { border-radius:20px;  }

legend { font-size:19px; }

label { vertical-align:baseline; }


/* Rodapé */
footer { display:block; margin:10px auto; }

a { text-decoration:underline; color:#F2F2F2; }

a:hover { text-decoration:none; }