@charset 'UTF-8';

body { background-color:#F2F2F2; font-family:Calibri; }

#testeEvento {  
    border-radius:200px;
    background-color:Orange;
    font-size:50px;
    width:250px;
    height:250px;
    display:block;
    margin:auto;
    line-height:250px;
    text-align:center;
}