@charset 'UTF-8';

[data-menu='button']::before {
  content:'';
  display:inline-block;
  height:3px;
  width:16px;
  background:red;
  box-shadow:0 4px red, 0 -4px red;
  transition:transform .3s;
}

[data-menu='button'].active::before {
  transform:rotate(90deg);
}

[data-menu="list"] {
  display:none;
  background:red;
}

[data-menu="list"].active {
  display:block;
}