@charset 'UTF-8';

body { background-color:#378B2E; font-family:Calibri; }

h1 { text-align:center; font-size:35px; }

h1, a { color:#F2F2F2; }

#exibeIdade {
    background-color:#F2F2F2;
    border-radius:20px;
    box-shadow:1px 1px 3px rgba(0,0,0,.7);
    padding:9px; 
    width:350px;
    display:block; 
    margin:auto;  
    text-align:center;
}

fieldset { border-radius:20px; }

img { border-radius:200px; width:220px; height:220px; }

figcaption { font-size:25px; }

footer { display:block; margin:10px auto; text-align:center; }

a { text-decoration:underline; }

a:hover { text-decoration:none; }