@charset "UTF-8";

  nav { width:30%; display:block; margin:auto; top:0; position:sticky; }


  /* Ajustando o menuBurguer */
  #menuBurguer { display:none; }

  label {
    display:inline-block;
    color:black;
    font-size:35px;
    font-style:1.2em;
    padding:7px;
  }

  input:checked ~ ul { display:block; }


  /* Comportamento da lista não ordenada */
  ul { background-color:#FBB61C; border-radius:60px; display:none; padding:5px; }

  li, a { box-sizing:border-box; display:block; margin:20px; }


  /* Responsividade */
  @media screen and (max-width:1300px) {
    ul { width:90%; }
  }

  @media screen and (max-width:1250px) {
    ul { width:90%; }
  }

  @media screen and (max-width:900px) {
    ul { width:200%; }
  }
